doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title= title
        meta(name='description' content='The 18th International Conference on Web Information Systems Engineering')
        meta(name='Keywords' content='WEB, programming, engineering, science, wise, conference, IT, data, machine learning, networks')
        link(rel='icon', href='/assets/images/favicon.ico')
        link(rel='stylesheet', href='/assets/stylesheets/main.css', type='text/css')

    body
        .wrapper.row2
            #container.clear
                section#slider
                    img(src='/assets/images/main.png')
                header#header.clear
                    nav
                        ul
                            li.main
                                a(href='/') WISE 2017
                            li
                                a(href='/hostcity/') Host city
                            li
                                a(href='/dates/') Important dates
                            li
                                a(href='/papers/') Call for papers
                            li
                                a(href='/') Homepage
                    #hgroup

                        h2 The 18th International Conference on Web Information Systems Engineering
                        hl
                #content
                    section!= contents
                aside#right_column
                    h2.title Units & Staff
                    nav
                        ul
                            li
                                a(href='/organization/') Organization
                            li
                                a(href='/committee/') Committee
                            li
                                a(href='/keynote_speakers/') Keynote speakers

                    h2.title Notes
                    nav
                        ul
                            li
                                a(href='/visa_information/') Visa information
                            li
                                a(href='/special_track/') Special track
                            li
                                a(href='/registration/') Registration
                            li
                                a(href='/arrival-departure/') Arrival-departure forms
                            li
                                a(href='/accommodation/')
                                    | Accommodation
                                    span ❗
                            li
                                a(href='/publication/') Publication
                            li
                                a(href='/paper_submission/') Paper submission
                            li
                                a(href='/workshops/') Workshops
                            li
                                a(href='/venue/') Venue
                            li
                                a(href='/accepted_papers/') Accepted papers
                            li
                                a(href='/preliminary-program/') Preliminary program
                    h2.title Related Links
                    nav
                        ul
                            li
                                a(href='http://www.springer.com/computer/database+management+\%26+information+retrieval/journal/11280', target = '_blank') WWW Journal
                            li
                                a(href='http://www.hissjournal.com/', target='_blank') HISS Journal
                            li
                                a(href='http://www.his-conferences.org/2017', target='_blank') HIS 2017
                            li
                                a(href='http://www.icpt.su/home/conference/wise-2017', target='_blank') WISE 2017 Application for RFBR
                    h2.title Contacts
                    section.last
                        address
                            a(href='mailto:wise.conf@gmail.com' target='_blank') wise.conf@gmail.com
        .wrapper.row3
            footer#footer.clear
                p.fl_left
                    | WISE 2017 © All Rights Reserved
                p.fl_right
                    | Created by&nbsp;
                    a(href='https://risentveber.ru', title='Risent Veber') Risent Veber
    script(src='/assets/js/main.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD08E7l89PaA49jZeisj1gk2oRtf05ojsI&callback=initMap',
        async, defer)
    .preload-images
