h2 Accepted Papers

h3 Full paper
table.table
    thead
        tr
            th Id
            th Title
            th Authors
    tbody
        tr
            td 87
            td Location-based Top-k Term Querying over Sliding Window
            td Ying Xu, Lisi Chen, Bin Yao, Shuo Shang, Kai Zheng, Shunzhi Zhu and Fang Li.
        tr
            td 38
            td Event Cube – a Conceptual Framework for Event Modeling and Analysis
            td Qing Li, Yun Ma and Zhenguo Yang.
        tr
            td 230
            td Anonymity-based Privacy-preserving Task Assignment in Spatial Crowdsourcing
            td Yue Sun, An Liu, Zhixu Li, Guanfeng Liu, Lei Zhao and Kai Zheng.
        tr
            td 137
            td Combining Local and Global Features in Supervised Word Sense Disambiguation
            td Xue Lei, Yi Cai, Haoran Xie, Qing Li and Ho-Fung Leung.
        tr
            td 145
            td Cross-Cultural Web Usability Model
            td Rukshan Alexander, David Murray and Nik Thompson.
        tr
            td 240
            td Effective Caching of Shortest Travel-Time Paths for Web Mapping Mashup Systems
            td Detian Zhang, An Liu, Gangyong Jia, Fei Chen and Qing Li.
        tr
            td 15
            td DTRP: A Flexible Deep Framework For Travel Route Planning
            td Jie Xu, Chaozhuo Li, Senzhang Wang and Zhoujun Li.
        tr
            td 150
            td Local Models for Top-N Recommendation via Refined Item-User Bi-Clustering
            td Yuheng Wang, Xiang Zhao, Yifan Chen and Wenjie Zhang.
        tr
            td 238
            td Modeling Implicit Communities in Recommender Systems
            td Xiao Lin, Yongfeng Zhang and Zhaoquan Gu.
        tr
            td 55
            td Incremental Structural Clustering for Dynamic Networks
            td Yazhong Chen, Rong-Hua Li, Qiangqiang Dai, Shaojie Qiao and Rui Mao.
        tr
            td 57
            td A Kernel-based Approach to Developing Adaptable and Reusable Sensor Retrieval Systems for the Web of Things
            td Nguyen Khoi Tran, Quan Z. Sheng, Muhammad Ali Babar and Lina Yao.
        tr
            td 120
            td Coordinating Disagreement and Satisfaction in Group Formation for Recommendation
            td Xiao Lin, Yongfeng Zhang and Zhaoquan Gu.
        tr
            td 130
            td Long-term Multi-Objective Task Scheduling with Diff-Serv in Hybrid Clouds
            td Puheng Zhang, Chuang Lin, Wenzhuo Li and Xiao Ma.
        tr
            td 144
            td Taxi Route Recommendation Based on Urban Traffic Coulomb's Law
            td Zheng Lv, Yongxuan Lai, Kuan-Ching Li, Minghong Liao and Xing Gao.
        tr
            td 154
            td HOMMIT: A Sequential Recommendation for Modeling Interest-transferring via High-order Markov Model
            td
        tr
            td 165
            td A Refined Method for Detecting Interpretable and Real-time Bursty Topic in Microblog Stream
            td
        tr
            td 167
            td Efficient Order-sensitive Activity Trajectory Search
            td
        tr
            td 169
            td Discovering Hierarchical Subgraphs of K-Core-Truss
            td
        tr
            td 235
            td Extractive Summarization Via Overlap-based Optimized Picking
            td
        tr
            td 255
            td Exploring the Impact of Co-Experiencing Stressor Events for Teens Stress Forecasting
            td
        tr
            td 25
            td Influenced Nodes Discovery in Temporal Contact Network
            td
        tr
            td 127
            td Online Cost-aware Service Requests Scheduling in Hybrid Clouds for Cloud Bursting
            td
        tr
            td 90
            td Efficient Multi-Version Storage Engine for Main Memory Data Store
            td
        tr
            td 193
            td Understanding Evasion Techniques that Abuse Differences among JavaScript Implementations
            td
        tr
            td 66
            td Discovering and Tracking Active Online Social Groups
            td
        tr
            td 198
            td A Large-Scale Visual Check-In System for TV Content-Aware Web with Client-Side Video Analysis Offloading
            td
        tr
            td 9
            td Real-time Target Tracking through Mobile Crowdsensing
            td
        tr
            td 13
            td When Will A Repost Cascade Settle Down?
            td
        tr
            td 18
            td Efficient Subgraph Matching on Non-volatile Memory
            td
        tr
            td 20
            td Mining Co-Location Patterns with Dominant Features
            td
        tr
            td 64
            td Reliable Retrieval of Top-k Tags
            td
        tr
            td 121
            td Assessment of Prediction Techniques: The Impact of Human Uncertainty
            td
        tr
            td 134
            td Maximal Sub-Prevalent Co-location Patterns and Efficient Mining Algorithms
            td
        tr
            td 183
            td Connecting Targets to Tweets: Semantic Attention-based Model for Target-specific Stance Detection
            td
        tr
            td 203
            td Factorization Machines Leveraging Lightweight Linked Open Data-enabled Features for Top-N Recommendations
            td
        tr
            td 180
            td Extracting Web Content by Exploiting Multi-Category Characteristics
            td
        tr
            td 213
            td A Fine-grained Latent Aspects Model for Recommendation: Combining Each Rating with Its Associated Review
            td
        tr
            td 63
            td Spatial Information Recognition on Web Documents using a Semi-Supervised Machine Learning Method
            td
        tr
            td 170
            td Time Series Classification by Modeling the Principal Shapes
            td
        tr
            td 228
            td Crowdsourced Entity Alignment: Question Selection and Assignment
            td
        tr
            td 253
            td Adaptive Deployment of Service-Based Processes into Cloud Federations
            td
        tr
            td 34
            td PrivacySafer: Privacy Adaptation for HTML5 Web Applications
            td
        tr
            td 115
            td Social Personalized Ranking Embedding For Next POI Recommendation
            td
        tr
            td 143
            td Overlapping Communities Meet Roles and Respective Behavioral Patterns in Networks with Node Attributes
            td
        tr
            td 146
            td A Concurrent Interdependent Service Level Agreement Negotiation Protocol in Dynamic Service-oriented Computing Environments
            td
        tr
            td 229
            td Semantic Web Datatype Inference: Towards Better RDF Matching
            td
        tr
            td 58
            td A Network Based Stratification Approach for Extracting Summary Tweets for News Articles
            td
        tr
            td 84
            td Determining Repairing Sequence of Inconsistencies in Content-related Data
            td
        tr
            td 223
            td Dynamic Relationship Building: Exploitation Versus Exploration on a Social Network
            td

h4 Short paper
table.table
    thead
        tr
            th Id
            th Title
    tbody
        tr
            td 104
            td Efficient Approximiate Entity Matching Using Jaro-Winkler Distance
        tr
            td 206
            td A QoS-aware Online Incentive Mechanism for Mobile Crowd Sensing
        tr
            td 216
            td Towards Effective web crawling - A theme weight and Bayesian Page Rank based approach
        tr
            td 32
            td Cross-Domain and Cross-Modality Transfer Learning for Multi-Domain and Multi-Modality Event Detection
        tr
            td 92
            td How fair is your network to new and old objects? : A modelling of object selection in web based user-object networks.
        tr
            td 226
            td Estimating support scores of autism communities in large-scale Web information systems
        tr
            td 95
            td Interpreting Reputation through Frequent Named Entities in Twitter
        tr
            td 179
            td SGMR: Sentiment-aligned Generative Model for Reviews
        tr
            td 187
            td DARE to Care: A Context-Aware Based Framework to Track Suicidal Ideation on Social Media
        tr
            td 191
            td A Survey on Security as a Service: Classification and SWOT Analysis
        tr
            td 234
            td How does Fairness matter in Group Recommendation
        tr
            td 135
            td An Ontology-Enhanced Hybrid Approach to Aspect-Based Sentiment Analysis
        tr
            td 178
            td A Multi-attention-based Bidirectional Long Short-Term Memory Network for Relation Extraction
        tr
            td 207
            td A Randomized Reputation System in the Presence of Unfair Ratings
        tr
            td 33
            td Mining Representative Patterns Under Differential Privacy
        tr
            td 41
            td Auxiliary Service Recommendation for Online Flight Booking
        tr
            td 68
            td the automatic development of SEO-friendly single page applications based on HIJAX approach
        tr
            td 136
            td Eliminating Incorrect Cross-Language Links in Wikipedia
        tr
            td 243
            td Tracking Clustering Coefficient on Dynamic Graph via Incremental Random Walk
        tr
            td 24
            td Modeling Complementary Relationships of Cross-Category Products for Personal Ranking
        tr
            td 85
            td Cloud Services Data sets
        tr
            td 128
            td Iterative Reduction Worker Filtering for Crowdsourced Label Aggregation
        tr
            td 219
            td WeDGeM: A Domain-specific Evaluation Dataset Generator for Multilingual Entity Linking Systems
        tr
            td 8
            td Exploiting Users' Rating Behaviour to Enhance the Robustness of Social Recommendation
        tr
            td 23
            td A New Static Web Caching Mechanism based on Mutual Dependency between Result Cache and Posting List Cache