h2 Accepted Papers

h3 Full paper
table.table
    thead
        tr
            th Id
            th Title
            th Authors
    tbody
        tr
            td 9
            td Real-time Target Tracking through Mobile Crowdsensing
            td Jinyu Shi and Weijia Jia
        tr
            td 13
            td When Will A Repost Cascade Settle Down?
            td Chi Chen, Yong Zhang, Hongliang Tian, Jie Tang and Chunxiao Xing
        tr
            td 15
            td DTRP: A Flexible Deep Framework For Travel Route Planning
            td Jie Xu, Chaozhuo Li, Senzhang Wang and Zhoujun Li
        tr
            td 18
            td Efficient Subgraph Matching on Non-volatile Memory
            td Yishu Shen and Zhaonian Zou
        tr
            td 20
            td Mining Co-Location Patterns with Dominant Features
            td Fang Yuan and Wang Lizhen
        tr
            td 25
            td Influenced Nodes Discovery in Temporal Contact Network
            td Jinjing Huang and Lei Zhao
        tr
            td 34
            td PrivacySafer: Privacy Adaptation for HTML5 Web Applications
            td Georgia Kapitsaki and Theodoros Charalambous
        tr
            td 38
            td Event Cube – a Conceptual Framework for Event Modeling and Analysis
            td Qing Li, Yun Ma and Zhenguo Yang
        tr
            td 55
            td Incremental Structural Clustering for Dynamic Networks
            td Yazhong Chen, Rong-Hua Li, Qiangqiang Dai, Shaojie Qiao and Rui Mao
        tr
            td 57
            td A Kernel-based Approach to Developing Adaptable and Reusable Sensor Retrieval Systems for the Web of Things
            td Nguyen Khoi Tran, Quan Z. Sheng, Muhammad Ali Babar and Lina Yao
        tr
            td 58
            td A Network Based Stratification Approach for Extracting Summary Tweets for News Articles
            td Roshni Chakraborty, Maitry Bhavsar, Sourav Kumar Dandapat and Joydeep Chandra
        tr
            td 63
            td Spatial Information Recognition on Web Documents using a Semi-Supervised Machine Learning Method
            td Hendi Lie and Richi Nayak
        tr
            td 64
            td Reliable Retrieval of Top-k Tags
            td Yong Xu, Reynold Cheng and Yudian Zheng
        tr
            td 66
            td Discovering and Tracking Active Online Social Groups
            td Md Musfique Anwar, Chengfei Liu, Jianxin Li and Tarique Anwar
        tr
            td 84
            td Determining Repairing Sequence of Inconsistencies in Content-related Data
            td Yuefeng Du, Derong Shen, Ge Yu, Tiezheng Nie and Yue Kou
        tr
            td 87
            td Location-based Top-k Term Querying over Sliding Window
            td Ying Xu, Lisi Chen, Bin Yao, Shuo Shang, Kai Zheng, Shunzhi Zhu and Fang Li
        tr
            td 90
            td Efficient Multi-Version Storage Engine for Main Memory Data Store
            td Jinwei Guo, Bing Xiao and Peng Cai
        tr
            td 115
            td Social Personalized Ranking Embedding For Next POI Recommendation
            td Yan Long
        tr
            td 120
            td Coordinating Disagreement and Satisfaction in Group Formation for Recommendation
            td Xiao Lin, Yongfeng Zhang and Zhaoquan Gu
        tr
            td 121
            td Assessment of Prediction Techniques: The Impact of Human Uncertainty
            td Kevin Jasberg and Sergej Sizov
        tr
            td 127
            td Online Cost-aware Service Requests Scheduling in Hybrid Clouds for Cloud Bursting
            td Yanhua Cao, Li Lu, Jiadi Yu, Shiyou Qian, Yanmin Zhu, Minglu Li, Jian Cao, Zhong Wang, Juan Li and Guangtao Xue
        tr
            td 130
            td Long-term Multi-Objective Task Scheduling with Diff-Serv in Hybrid Clouds
            td Puheng Zhang, Chuang Lin, Wenzhuo Li and Xiao Ma
        tr
            td 134
            td Maximal Sub-Prevalent Co-location Patterns and Efficient Mining Algorithms
            td Lizhen Wang, Xuguang Bao, Lihua Zhou and Hongmei Chen
        tr
            td 137
            td Combining Local and Global Features in Supervised Word Sense Disambiguation
            td Xue Lei, Yi Cai, Haoran Xie, Qing Li and Ho-Fung Leung
        tr
            td 143
            td Overlapping Communities Meet Roles and Respective Behavioral Patterns in Networks with Node Attributes
            td Gianni Costa and Riccardo Ortale
        tr
            td 144
            td Taxi Route Recommendation Based on Urban Traffic Coulomb's Law
            td Zheng Lv, Yongxuan Lai, Kuan-Ching Li, Minghong Liao and Xing Gao
        tr
            td 145
            td Cross-Cultural Web Usability Model
            td Rukshan Alexander, David Murray and Nik Thompson
        tr
            td 146
            td A Concurrent Interdependent Service Level Agreement Negotiation Protocol in Dynamic Service-oriented Computing Environments
            td Lei Niu, Fenghui Ren and Minjie Zhang
        tr
            td 150
            td Local Models for Top-N Recommendation via Refined Item-User Bi-Clustering
            td Yuheng Wang, Xiang Zhao, Yifan Chen and Wenjie Zhang
        tr
            td 154
            td HOMMIT: A Sequential Recommendation for Modeling Interest-transferring via High-order Markov Model
            td Xu Yang, Hong Xiaoguang, Peng Zhaohui, Hu Yupeng and Yang Guang
        tr
            td 165
            td A Refined Method for Detecting Interpretable and Real-time Bursty Topic in Microblog Stream
            td Tao Zhang, Bin Zhou, Jiuming Huang, Yan Jia, Bing Zhang and Zhi Li
        tr
            td 167
            td Efficient Order-sensitive Activity Trajectory Search
            td Kaiyang Guo, Ronghua Li, Shaojie Qiao, Weipeng Zhang and Rui Mao
        tr
            td 169
            td Discovering Hierarchical Subgraphs of K-Core-Truss
            td Zhenjun Li, Ronghua Li, Jun Guo, Xin Huang and Rui Mao
        tr
            td 170
            td Time Series Classification by Modeling the Principal Shapes
            td Zhenguo Zhang
        tr
            td 180
            td Extracting Web Content by Exploiting Multi-Category Characteristics
            td Qian Wang, Qing Yang, Jingwei Zhang and Yanchun Zhang
        tr
            td 183
            td Connecting Targets to Tweets: Semantic Attention-based Model for Target-specific Stance Detection
            td Yiwei Zhou and Alexandra I. Cristea
        tr
            td 193
            td Understanding Evasion Techniques that Abuse Differences among JavaScript Implementations
            td Yuta Takata, Mitsuaki Akiyama, Takeshi Yagi, Takeo Hariu and Shigeki Goto
        tr
            td 198
            td A Large-Scale Visual Check-In System for TV Content-Aware Web with Client-Side Video Analysis Offloading
            td Shuichi Kurabayashi and Hiroki Hanaoka
        tr
            td 203
            td Factorization Machines Leveraging Lightweight Linked Open Data-enabled Features for Top-N Recommendations
            td Guangyuan Piao and John G. Breslin
        tr
            td 213
            td A Fine-grained Latent Aspects Model for Recommendation: Combining Each Rating with Its Associated Review
            td Xuehui Mao, Shizhong Yuan, Weimin Xu and Wei Daming
        tr
            td 223
            td Dynamic Relationship Building: Exploitation Versus Exploration on a Social Network
            td Bo Yan, Yang Chen and Jiamou Liu
        tr
            td 228
            td Crowdsourced Entity Alignment: Question Selection and Assignment
            td Yan Zhuang, Guoliang Li and Jianhua Feng
        tr
            td 229
            td Semantic Web Datatype Inference: Towards Better RDF Matching
            td Irvin Dongo, Yudith Cardinale, Firas Al Khalil and Richard Chbeir
        tr
            td 230
            td Anonymity-based Privacy-preserving Task Assignment in Spatial Crowdsourcing
            td Yue Sun, An Liu, Zhixu Li, Guanfeng Liu, Lei Zhao and Kai Zheng
        tr
            td 235
            td Extractive Summarization Via Overlap-based Optimized Picking
            td Gaokun Dai and Zhendong Niu
        tr
            td 238
            td Modeling Implicit Communities in Recommender Systems
            td Xiao Lin, Yongfeng Zhang and Zhaoquan Gu
        tr
            td 240
            td Effective Caching of Shortest Travel-Time Paths for Web Mapping Mashup Systems
            td Detian Zhang, An Liu, Gangyong Jia, Fei Chen and Qing Li
        tr
            td 253
            td Adaptive Deployment of Service-Based Processes into Cloud Federations
            td Chahrazed Labba, Nour Assy, Narjès Bellamine Ben Saoud and Walid Gaaloul
        tr
            td 255
            td Exploring the Impact of Co-Experiencing Stressor Events for Teens Stress Forecasting
            td Qi Li, Liang Zhao, Yuanyuan Xue and Li Jin

h4 Short paper
table.table
    thead
        tr
            th Id
            th Title
            th Authors
    tbody
        tr
            td 8
            td Exploiting Users' Rating Behaviour to Enhance the Robustness of Social Recommendation
            td Zizhu Zhang, Weiliang Zhao, Jian Yang, Surya Nepal and Cecile Paris
        tr
            td 23
            td A New Static Web Caching Mechanism based on Mutual Dependency between Result Cache and Posting List Cache
            td Thanh Trinh, Dingming Wu and Joshua Zhexue Huang
        tr
            td 24
            td Modeling Complementary Relationships of Cross-Category Products for Personal Ranking
            td Wenli Yu and Li Li
        tr
            td 32
            td Cross-Domain and Cross-Modality Transfer Learning for Multi-Domain and Multi-Modality Event Detection
            td Zhenguo Yang, Min Cheng, Qing Li, Yukun Li, Zehang Lin and Wenyin Liu
        tr
            td 33
            td Mining Representative Patterns Under Differential Privacy
            td Xiaofeng Ding, Long Chen and Hai Jin
        tr
            td 41
            td Auxiliary Service Recommendation for Online Flight Booking
            td Hongyu Lu, Jian Cao, Yudong Tan and Quanwu Xiao
        tr
            td 68
            td the automatic development of SEO-friendly single page applications based on HIJAX approach
            td Siamak Hatami
        tr
            td 85
            td Cloud Services Data sets
            td Ahmed Ghamry, Asma Alkalbani, Vu Tran, Yi-Chan Tsai, My Ly Hoang and Farookh Khadeer Hussain
        tr
            td 92
            td How fair is your network to new and old objects? : A modelling of object selection in web based user-object networks.
            td Anita Chandra, Himanshu Garg and Abyayananda Maiti
        tr
            td 95
            td Interpreting Reputation through Frequent Named Entities in Twitter
            td Nacéra Bennacer, Francesca Bugiotti, Moditha Hewasinghage, Suela Isaj and Gianluca Quercini
        tr
            td 104
            td Efficient Approximiate Entity Matching Using Jaro-Winkler Distance
            td Yaoshu Wang, Jianbin Qin and Wei Wang
        tr
            td 128
            td Iterative Reduction Worker Filtering for Crowdsourced Label Aggregation
            td Jiyi Li
        tr
            td 135
            td An Ontology-Enhanced Hybrid Approach to Aspect-Based Sentiment Analysis
            td Daan de Heij, Artiom Troyanovsky, Cynthia Yang, Milena Zychlinsky Scharff, Kim Schouten and Flavius Frasincar
        tr
            td 136
            td Eliminating Incorrect Cross-Language Links in Wikipedia
            td Nacéra Bennacer, Francesca Bugiotti, Jorge Galicia, Mariana Patricio and Gianluca Quercini
        tr
            td 178
            td A Multi-attention-based Bidirectional Long Short-Term Memory Network for Relation Extraction
            td Lingfeng Li, Yuanping Nie, Weihong Han and Jiuming Huang
        tr
            td 179
            td SGMR: Sentiment-aligned Generative Model for Reviews
            td He Zou, Litian Yin, Dong Wang and Yue Ding
        tr
            td 187
            td DARE to Care: A Context-Aware Based Framework to Track Suicidal Ideation on Social Media
            td Bilel Moulahi, Sandra Bringay and Jérôme Azé
        tr
            td 191
            td A Survey on Security as a Service: Classification and SWOT Analysis
            td Wenyuan Wang and Sira Yongchareon
        tr
            td 206
            td A QoS-aware Online Incentive Mechanism for Mobile Crowd Sensing
            td Hui Cai, Yanmin Zhu and Jiadi Yu
        tr
            td 207
            td A Randomized Reputation System in the Presence of Unfair Ratings
            td Mohsen Rezvani and Mojtaba Rezvani
        tr
            td 216
            td Towards Effective web crawling - A theme weight and Bayesian Page Rank based approach
            td Yan Tang, Lei Wei, Wangsong Wang and Pengcheng Xuan
        tr
            td 219
            td WeDGeM: A Domain-specific Evaluation Dataset Generator for Multilingual Entity Linking Systems
            td Emrah İnan and Oguz Dikenelli
        tr
            td 226
            td Estimating support scores of autism communities in large-scale Web information systems
            td Thin Nguyen, Hung Nguyen, Svetha Venkatesh and Dinh Phung
        tr
            td 234
            td How does Fairness matter in Group Recommendation
            td Xiao Lin, Yongfeng Zhang and Zhaoquan Gu
        tr
            td 243
            td Tracking Clustering Coefficient on Dynamic Graph via Incremental Random Walk
            td Qun Liao, Lei Sun, Yunpeng Yuan and Yulu Yang
