h2 Accommodation

p
    | The conference has negotiated with
    a(href='http://www.tzargrad.ru', target='_blank') &nbsp;Tsargrad Hotel&nbsp;
    | for the participants. All the registered WISE 2017 attendees will be offered with special hotel rates.

p The room rates are inclusive of service charge and daily breakfast, lunch and dinner per room per day.
p
    | On Wednesday, 27th September room booking  through the Organising Committee will be canceled due to  our contract
    | with the hotel Tsargrad. We hope that the hotel will be fully booked to this time. The rest attendees are invited
    | to stay in the hotel Korston. As HIS2017  is moved to Moscow probably your room  reservations in Tsargrad will be modified.
p
    | Check please your bookings in the
    = ' '
    a(href='https://docs.google.com/spreadsheets/d/1AR-QMCNU_4kdOjillLa9Et3u_7obx2pqgJHX3Nb-uAk/edit?usp=sharing' target='_blank') table
    = ' '
    | and email to
    = ' '
    a(href='mailto:rashid.zalyalov@gmail.com') rashid.zalyalov@gmail.com
    = ' '
    |if there are changes.

table.table.accomodation
    tr
        th Room types
        th 1 pers.
        th 2 pers.
        th 3 pers.
        th 4 pers.
    tr
        td Standard Twin
        td
            | 6000 &#x20bd;
            br
            | &#36;101 USA
        td
            | 7000 &#x20bd;
            br
            | &#36;118 USA
        td &#8212;
        td &#8212;
    tr
        td Deluxe
        td
            | 7000 &#x20bd;
            br
            | &#36;118 USA
        td
            | 8000 &#x20bd;
            br
            | &#36;135 USA
        td
            | 12000 &#x20bd;
            br
            | &#36;202 USA
        td &#8212;
    tr
        td Suite
        td
            | 8000 &#x20bd;
            br
            | &#36;135 USA
        td
            | 9000 &#x20bd;
            br
            | &#36;151 USA
        td
            | 13000 &#x20bd;
            br
            | &#36;219 USA
        td
            | 17000 &#x20bd;
            br
            | &#36;287 USA

p The exchange rate of the dollar USA to the ruble is shown on 17.07.2017.

p
    | The site
    a(href='https://www.booking.com' target='_blank') &nbsp;www.booking.com&nbsp;
    | could be used to do room reservations in the hotel,
    | but it has no options for special cases as conferences. So Organisation Committee assumes the responsibility
    | of collecting applications for accommodation and reservation of room.
    | Please fill out the Hotel Reservation Form and send it by email to
    = ' '
    a(href='mailto:rashid.zalyalov@gmail.com' target='_blank') rashid.zalyalov@gmail.com
    | .
    | The deadline for hotel reservation with the conference rates is Sep 30th, 2017.
    | Cancellation of the reserved rooms might be done not later than 72 hours before check-in. Otherwise,
    | the conference will have to pay the first night of non-attendance.
    | In the case of shortage of rooms in Tsargrad, accommodation will be offered at
    a(href='https://www.korston.ru/serpukhov/' target='_blank') &nbsp;Korston Hotel&nbsp;
    | in Serpukhov, 23 km from Tsargrad.

iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSe25yHotFgt4MqkyZm3GSAGE5B2kNF8nJ52bu5AH5iAXgiiMA/viewform?embedded=true" width="600" height="600" frameborder="0" marginheight="0" marginwidth="0")
