h2 Accommodation

p
    | The conference has negotiated with the Hotel "Tsargrad"&nbsp;
    a(href='www.tzargrad.ru', target='_blank') www.tzargrad.ru
    | &nbsp;for the participants. Hotel reservation details will be presented later.