h2 Arrival to Moscow form
p
    | All data saved
    = ' '
    a(href='https://docs.google.com/spreadsheets/d/1-KTTQlK94uzrutLew7mGc5w_9KfJgF6ptb4cxUIUols/edit?usp=sharing') here
    | .
iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSeLt3k1ILhRWYoLBJof85JwjinYtG4l6ORXLLmLzTcxESfA5A/viewform?embedded=true" width="600" height="600" frameborder="0" marginheight="0" marginwidth="0")

h2 Departure from Moscow form
p
    | All data saved
    = ' '
    a(href='https://docs.google.com/spreadsheets/d/1EtDPG-LGaQdN3Re6FFIyUI-If-8tOTzw0RMAtTdZows/edit?usp=sharing') here
    | .
iframe(src="https://docs.google.com/forms/d/e/1FAIpQLScdDWmXcadoqAaF-BGmEDPNv_EKpV7CXkYAcRj2iWJfaXqszQ/viewform?embedded=true" width="600" height="600" frameborder="0" marginheight="0" marginwidth="0")
