h2 Important dates

table.table
    tr
        td Abstract Due
        td April 09, 2017
    tr
        td Full Paper Due
        td April 16, 2017
    tr
        td Acceptance Notification
        td June 15, 2017
    tr
        td Camera-Ready Copy
        td June 30, 2017
    tr
        td Workshop  Proposals
        td April 02, 2017
    tr
        td Panel/Tutorial  Proposals
        td July 09, 2017
