h2 Excursions

p As a part of a culture program we offer 2 excursions for October 11-12:

ul
    li
        p
            | Museum-reserve Polenovo. Well-known painter Vasiliy Polenov was the one to praise the
            | beauty of the Oka River valley. In 1890 in the Tarusa vicinity, on the right Oka River
            | shore he dwelled in his estate Borok, at present referred to Polenovo. It later welcomed
            | many Russian painters like Levitan I., Korovin K., Vrubel M., Vasnetsov V., Serov V. and others.
            | Now in Polenovo you may find the museum-reserve with a branch placed in a church designed by
            | Polenov in the Bekhovo village.
        span.image
            img(src='/assets/images/polenovo.jpg' style='width: 100%;')
            br

    li
        p
            | Museum-reserve Melikhovo. Famous russian writer Anton Pavlovich Chekhov lived here for a
            | period of seven years from 1892 to 1899. The writer bought it early in 1892 from theatrical
            | painter N.P. Sorokhtin, who arranged his house in the style of his own theater decor. Many of
            | Chekhov's masterpieces were intervened with the land of Melikhovo. Currently, the Museum-Reserve
            | includes the manor house, the guest house, the kitchen, the bath house, numerous household
            | buildings, a wooden shed housing fire-fighting equipment, an exhibition showing an old
            | ambulatory medical station and a large garden area.
        span.image
            img(src='/assets/images/melikhovo.jpg' style='width: 100%;')
            br

p
    | The cost for each excursion is $25 per person. If you wish to take a tour - please select the desired
    | date and excursion from the form below:

iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSek1VynSrrNGF6n0Rzy16yw4-bvhAzDxwGJC2Akd4MkkkvZYw/viewform?embedded=true" width="600" height="600" frameborder="0" marginheight="0" marginwidth="0")