h2.title Hotel "Tsargrad"
p
    img(alt='hotel Tsargrad', title='hotel Tsargrad', src='/assets/images/hotel.jpg')
    | Hotel "Tsargrad" is located on the river bank of Oka in immediate proximity from the Prioksko-Terrasny reserve,
    | in an hour of comfortable drive from Moscow on the Simferopol highway (a high-speed line). Here there are
    | all conditions for business events, family rest, weddings and festive occasions, rest with children.
    | The visitors can enjoy comfortable apartments and cottages, restaurants and summer cafes, bars, night club,
    | banquet rooms, conference halls, charcoal grill verandas, children's club and playgrounds, equipped beach on Oka,
    | the Complex of Russian wood baths with an exit to a pond. Fans of outdoor activities can use tennis courts and
    | a ground for mini football, try paintball, horse walks, excellent fishing, parachute jumps, flights by a balloon
    | and even by the jet plane, they’ll also have an opportunity to hire hydro cycles and other water techniques!

    br
    a(href='http://www.tzargrad.ru/files/2016/RHA_Tsargrad_Hotel_Serpukhov_ En.pdf', target='_blank')
        | The hotel presentation
    br
    | Official site:&nbsp;
    a(href='http://www.tzargrad.ru/en', target='_blank') tzargrad.ru
