---
layout: index.jade
active: '/'
---

#content
    .post
        h2.title
            | October 7-11, 2017, Hotel “TzarGrad”, Puschino, Moscow region, Russia
        br
        .entry
            span.image
                img(src='/assets/images/tzargrad.jpg')
                br
            p
                strong WISE&nbsp;
                | has established itself as a solid community aiming at high quality research and offering the ground for advancing and
                | progressing efforts in Web information systems addressed topics. Previous WISE conferences were held in Hong Kong, China (2000),
                | Kyoto, Japan (2001), Singapore (2002), Roma, Italy (2003), Brisbane, Australia (2004), New York, USA (2005), Wuhan, China (2006),
                | Nancy, France (2007), Auckland, New Zealand (2008), Poznan, Poland (2009), Hong Kong, China (2010), Sydney, Australia (2011), Paphos,
                | Cyprus (2012), Nanjing, China (2013), Thessaloniki, Greece (2014), Miami, USA (2015) and Shanghai, China(2016). The aim of this 18th
                | edition of the conference series on Web Information Systems Engineering is to provide an international forum for researchers, professionals,
                | and industrial practitioners to share their knowledge in the rapidly growing area of Web technologies, methodologies and applications.

    .post
        h4 WISE’s topical coverage includes
            br
            | (but is not restricted to the following subjects):
        ul
            li Big Data Techniques and Applications
            li Cloud Computing
            li Deep/Hidden Web
            li Future Internet Architectures and Protocols
            li Human Factors and Social Issues
            li Integration of Web and Internet‐connected Objects
            li Linked Open Data
            li Mobile Web
            li Semantic Web
            li Social Networks Computing
            li Social Web and Applications
            li Social Web models, analysis and mining
            li Visualization for the Web and Rich Web UI
            li Web Agents and Web Intelligence
            li Web based Applications (e.g., e-Commerce, e-Government, e-Learning, etc.)
            li Web-based Business Processes and Web Services
            li Web-based Enterprise Systems
            li Web Big Data Techniques and Mining
            li Web Data Integration and Mashups
            li Web Data Models
            li Web engineering, metrics and performance
            li Web Information Retrieval
            li Web Mining and Web Warehousing
            li Web Privacy Management
            li Web Search and Information Extraction
            li Web Security and Trust Management
            li Web Tools and Languages

