h2 Keynote speakers
hr
h3 Prof. Lei Chen
h4 HKUST, China

img(src='/assets/images/LeiChen.jpg' style='float: right; margin-left: 20px;')
i
    | Professor
    br
    | Department of Computer Science and Engineering
    | Hong Kong University of Science and Technology
    | Clear Water Bay, Kowloon, Hong Kong
div(style='clear: both; ')
p
    | Lei Chen received his BS degree in Computer Science at Tian Jin University, P.R.China(BS 94), and an MA degree in
    | computer science at Asian Institute of Technology (AIT) Asian Institute of Technology (MS 97). He received a Ph.D.
    | degree in Computer Science at University of Waterloo. Lie Chen research intenrests are: Data-Driven Machine Learning,
    | Crowdsourcing-based Data Processing, Uncertain and Probabilistic databases, Web data management,
    | Multimedia and Time series databases, Privacy.
a(href='http://www.cse.ust.hk/~leichen/', target='_blank') Read more...
hr
h3 Prof. Jie LU
h4 UTS, Australia
img(src='/assets/images/JieLu.jpg' style='float: right; margin-left: 20px;')
i
    | Associate Dean (Research Excellence) and Dist. Prof., University of Technology Sydney,
    | Faculty of Engineering & Information Technology
div(style='clear: both; ')
p
    | Distinguished Professor Jie Lu is the Associate Dean (Research Excellence) in the Faculty of Engineering and
    | Information Technology (FEIT). She is also the Director of Center for Artificial Intelligence (CAI.UTS). She was
    | the Head of School of Software and the Director of Decision Systems & e-Service Intelligence (DeSI) lab in the FEIT.
    | Her main research interests lie in the area of data-driven prediction and decision support systems,
    | recommender systems, concept drift detection, fuzzy information processing and fuzzy transfer learning.
a(href='https://www.uts.edu.au/staff/jie.lu', target='_blank') Read more...
hr

h3 Prof. Beng Chin Ooi
h4 NUS, Singapore
img(src='/assets/images/ooibc.png' style='float: right; margin-left: 20px;')
i
    | Chair Professor
    br
    | Department of Computer Science
    | School of Computing
    | National University of Singapore
div(style='clear: both; ')
p
    | Beng Chin is a Distinguished Professor of Computer Science, NGS faculty member and Director of Smart Systems
    | Institute (SSI@NUS) at the National University of Singapore (NUS), and an adjunct Chang Jiang Professor at Zhejiang
    | University, China. He obtained his BSc (1st Class Honors) and PhD from Monash University, Australia, in 1985 and
    | 1989 respectively. He is a co-founder of yzBigData in 2012 for Big Data Management and analytics, and Shentilium
    | Technologies in 2016 for AI- and data-driven Financial data analytics, and an advisory council member of a Fintech
    | company, Cynopsis Solutions.
    | Bneg Chin's research interests include database, distributed processing, machine learning and large scale
    | analytics, in the aspects of system architectures, performance issues, security, accuracy and correctness. He is
    | also interested in exploiting IT in production and process reengineering.
h6 Abstract:
p
    | Modern Internet applications often produce a large volume of user activity records. Data
    | analysts are interested in cohort analysis, or finding unusual user behavioral trends, in these
    | large tables of activity records, as a means to improve sales and acquire new customers. In a
    | traditional database system, cohort analysis queries are both painful to specify and expensive
    | to evaluate. In this talk, I first present the extension of database systems to support cohort
    | analysis. We do so by extending SQL with new operators and devise different evaluation
    | schemes for cohort query processing. I then present our very efficient new columnar based
    | system called COHANA. I will also discuss an experimental evaluation against the non-intrusive
    | approaches on existing systems, and show a demo.
a(href='http://www.comp.nus.edu.sg/~ooibc/', target='_blank') Read more...


