h2 Keynote speakers
hr
h3 Prof. Lei Chen
h4 HKUST, China

img(src='/assets/images/LeiChen.jpg' style='float: right; margin-left: 20px;')
i
    | Professor
    br
    | Department of Computer Science and Engineering
    | Hong Kong University of Science and Technology
    | Clear Water Bay, Kowloon, Hong Kong
div(style='clear: both; ')
p
    | Lei Chen received his BS degree in Computer Science at Tian Jin University, P.R.China(BS 94), and an MA degree in
    | computer science at Asian Institute of Technology (AIT) Asian Institute of Technology (MS 97). He received a Ph.D.
    | degree in Computer Science at University of Waterloo. Lie Chen research intenrests are: Data-Driven Machine Learning,
    | Crowdsourcing-based Data Processing, Uncertain and Probabilistic databases, Web data management,
    | Multimedia and Time series databases, Privacy.
a(href='http://www.cse.ust.hk/~leichen/', target='_blank') Read more...
hr
h3 Prof. Jie LU
h4 UTS, Australia
img(src='/assets/images/JieLu.jpg' style='float: right; margin-left: 20px;')
i
    | Associate Dean (Research Excellence) and Dist. Prof., University of Technology Sydney,
    | Faculty of Engineering & Information Technology
div(style='clear: both; ')
p
    | Distinguished Professor Jie Lu is the Associate Dean (Research Excellence) in the Faculty of Engineering and
    | Information Technology (FEIT). She is also the Director of Center for Artificial Intelligence (CAI.UTS). She was
    | the Head of School of Software and the Director of Decision Systems & e-Service Intelligence (DeSI) lab in the FEIT.
    | Her main research interests lie in the area of data-driven prediction and decision support systems,
    | recommender systems, concept drift detection, fuzzy information processing and fuzzy transfer learning.
a(href='https://www.uts.edu.au/staff/jie.lu', target='_blank') Read more...
hr

h3 V.N.Burkov
h4 Institute of Control Sciences of V.A.Trapeznikov of the RAS, Moscow
object(width="610" height="800" data='/d/BurkovVN.pdf')
hr

h3 Alexander.N.Raikov
h4 Institute of Control Sciences of V.A.Trapeznikov of the RAS, Moscow
object(width="610" height="800" data='/d/RaikovAN.pdf')


