h2.title Organization
p
    b General Co-Chairs
    br
    ul
        li Stanislav V. Klimenko, Moscow Institute of Physics and Technology (Russia)
        li Qing Li, City University of Hong Kong (China)

p
    b Program Co-Chairs
    br
    ul
        li Athman Bouguettaya, RMIT University (Australia)
        li Yunjun Gao, Zhejiang University (China)
        li Andrey Klimenko, Institute of Computing for Physics and Technology (Russia)
p
    b Local Arrangement Chair
    br
    ul
        li Maria Berberova, Moscow Institute of Physics and Technology (Russia)
p
    b Workshop Co-Chairs
    br
    ul
        li Reynold C.K. Cheng, The University of Hong Kong (China)
        li An Liu, Soochow University (China)
p
    b Special Track/Area Chair
    br
    ul
        li Xiangliang Zhang, KAUST (Saudi Arabia)
        li Fedor Dzerzhinskiy, Institute of Computing for Physics and Technology (Russia)
p
    b Tutorial/Panel Chair
    br
    ul
        li Wei Wang, The University of New South Wales (Australia)
p
    b Publication Chair
    br
    ul
        li Lu Chen, Nangyang Technological University (Singapore)
p
    b Publicity Co-Chairs
    br
    ul
        li Jiannan Wang, Simon Fraser University (Canada)
        li Bin Yao, Shanghai Jiao Tong University (China)
        li Daria Marinina, Mikhail Pochkaylov, Anton Semenistyy, Moscow Institute of Physics and Technology (Russia)
p
    b Website Co-Chairs
    br
    ul
        li Rashid Zalyalov, Institute of Computing for Physics and Technology (Russia)
        li Ravshan Burkhanov, Boris Strelnikov, Moscow Institute of Physics and Technology (Russia)
p
    b WISE Steering Committee Representative
    br
    ul
        li Yanchun Zhang, Victoria University
