h2.title Call for papers
p
    b
        | WISE 2017 welcomes all submissions that fall in the domain of
        | Web, information systems, data analytics, and knowledge and
        | data engineering. The decision on acceptance/rejection of workshop
        | proposals will be made on the basis of the overall quality of the
        | proposal, its appeal to a viable fraction of the Web community as
        | well as how it fits in with the conference. Topics of interest include,
        | but are not restricted to:
ul
    li Big Data Techniques and Applications
    li Cloud Computing
    li Deep/Hidden Web
    li Future Internet Architectures and Protocols
    li Human Factors and Social Issues
    li Integration of Web and Internet‐connected Objects
    li Linked Open Data
    li Mobile Web
    li Semantic Web
    li Social Networks Computing
    li Social Web and Applications
    li Social Web models, analysis and mining
    li Visualization for the Web and Rich Web UI
    li Web Agents and Web Intelligence
    li Web-based Applications (e.g., e-Commerce, e-Government, e-Learning, etc.)
    li Web-based Business Processes and Web Services
    li Web-based Enterprise Systems
    li Web Big Data Techniques and Mining
    li Web Data Integration and Mashups
    li Web Data Models
    li Web engineering, metrics and performance
    li Web Information Retrieval
    li Web Mining and Web Warehousing
    li Web Privacy Management
    li Web Search and Information Extraction
    li Web Security and Trust Management

    li Web Tools and Languages
p
    | Best paper awards (including best paper award and best student
    | paper award) will be presented during conference. All the best
    | papers and a few selected papers will be recommended to several
    | reputable journals (e.g., World Wide Web: Internet and Web
    | Information Systems (WWWJ), etc.) with reasonable extensions
    // <b>Paper submission details can be found at the submission page: <br> <a href="https://easychair.org/conferences/?conf=cpt2017"> https://easychair.org/conferences/?conf=cpt2017</a></b>
