h2 Paper Submission

p
    | Papers should be submitted in PDF format. The results described must be unpublished
    | and must not be under review elsewhere. Submissions must conform to Springer's LNCS
    | format and should not exceed 15 pages, including all text, figures, references and appendices.
    | Submissions not conforming to the LNCS format, exceeding 15 pages, or being obviously out of the
    | scope of the conference, will be rejected without review. Information about the Springer LNCS
    | format can be found at&nbsp;
    a(href='http://www.springer.de/comp/lncs/authors.html', target='_blank') www.springer.de
    | . Three to five keywords
    | characterizing the paper should be indicated at the end of the abstract. The type of paper
    |(technical/empirical evaluation/experience/exploratory paper) should be indicated in the submission.
p
    | Submissions should be made electronically in PDF format via the Easychair submission system
    | for the WISE 2017 Conference at&nbsp;
    a(href='https://easychair.org/conferences/?conf=wise2017', target='_blank') easychair.org
    | .
