h2 WISE 2017 conference photos
p
    a(href='https://photos.app.goo.gl/DOovPVRuhVZ2uk073') Full album
    br
    br
    img(alt='Conference photo', title='Conference photo', src='/assets/images/photo-1.jpg', style='width: 100%')
    br
    br
    img(alt='Conference photo', title='Conference photo', src='/assets/images/photo-2.jpg', style='width: 100%')
    br
    br
    img(alt='Conference photo', title='Conference photo', src='/assets/images/photo-3.jpg', style='width: 100%')

