h2 Springer links

ul
    li
        a(href='https://link.springer.com/book/10.1007%2F978-3-319-68783-4', target='_blank') LNCS 10569, WISE 2017, Part I
    li
        a(href='https://link.springer.com/book/10.1007%2F978-3-319-68786-5', target='_blank') LNCS 10570, WISE 2017, Part II

h2 Program

ul
    li
        a(href='/d/WISE2017ConferenceProgram20171009.pdf', target='_blank') Conference program
        object(width="610" height="700" data='/d/WISE2017ConferenceProgram20171009.pdf')
    li
        a(href='/d/FinalProgramWISE2017.pdf', target='_blank')
            | Detail contents of conference program
        object(width="610" height="700" data='/d/FinalProgramWISE2017.pdf')

