h2 Publication

p
    | The WISE2017 Proceedings will be published by Springer.
    | The camera ready version of accepted manuscript must conform to Springer's LNCS format and full paper no
    | more than 15 pages and short paper no more than 8 pages, including all text, figures, references and appendices.
    | Information about the Springer LNCS format can be found at
    = ' '
    a(href='http://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines') www.springer.com

p
    | Please make sure that you do not use vertical spaces or small fonts to reduce the paper size.
    | Please download the copyright form, and fill it in (one author may sign the form on behalf of all authors).
    | Please scan the signed form and include it in your camera ready submission. A partly filled-in version of the
    | copyright form has been attached in conference webpage:
    = ' '
    a(href='/d/LNCS_Springer_Copyright_Form_WISE_2017.pdf', target='_blank') LNCS_Springer_Copyright_Form_WISE_2017.pdf

p In your submitted copyright form, please make sure:
ol
    li The "Title of the Book or Conference Name" field is complete;
    li The "Volume Editor(s)" field is complete;
    li You have not used an electronic signature (for Springer does not accpet eSignature).

p To submit the final version of your paper, please do the following:
ol
    li
        | Create a folder named WISE2017XXX where XXX is your paper ID. Place
        ul
            li the source files of your paper, including figures
            li the PDF file of your paper
            li
                | authors.txt. The file should contain: Full names of all authors (surnames clearly marked by block
                | letters) and their email addresses. The contact author's name, postal mailing address and
                | contact email address.
            li scanned copyright form
    li
        | Zip the folder into WISE2017XXX.zip file and send Dr. Chen Lu via e-mail
        = ' '
        a(href='mailto:chenlu@ntu.edu.sg') chenlu@ntu.edu.sg
        | .

p
    | The texts in all files must be identical. The volume editors will check the contributions,
    | decide in which order they shall appear in the printed volume and will send the complete material on to Springer.