h2 Registration

p
    | The registration procedure is common for WISE2017 and HIS2017. Attendees of these (any one or both)
    | conferences have to be registered once.

p
    | At least one author of each accepted paper must fill out the registration form by Aug 30,
    | 2017, in order for the paper to be included in the conference proceedings. Non-author attendees and
    | additional authors of accepted papers have to be registered to get an Invitation from
    | Organization Committee.  The registration fee is the US $600 ($300 for students) before
    | Aug 30, 2017, after will be the US $650. This includes a conference kit, coffee breaks, and a banquet dinner.

p
    | Here you can download the registration form
    ul
        li
            a(href='/d/WISE2017_Registration_Form.pdf', target='_blank') .pdf
        li
            a(href='/d/WISE2017_Registration_Form.doc', target='_blank') .doc

p
    | Please send Registration form with a proof of payment (a scanned copy) to
    ul
        li
            | Alesya Azarova&nbsp;
            a(href='mailto:alesyanepogodina5@gmail.com') alesyanepogodina5@gmail.com
        li
            | Prof. Stanislav Klimenko&nbsp;
            a(href='mailto:stanislav.klimenko@gmail.com') stanislav.klimenko@gmail.com

    | with the mail title:[Your paper ID_workshoptype] registration form for WISE/HIS.


h3 Payment Information
p
    | Credit card
    = ' '
    a(href='https://www.hkws.org/registration/wise2017/reg.html', target='_blank') payment
    = ' '
    | (Hong Kong Web Society is helping to handle the participants'
    | registrations for WISE 2017 )
table
    tr
        td Registration Fee:
        td US $600  ($300 for students)
    tr
        td Beneficiary:
        td ANE ICPT, INN 5037002412
    tr
        td Address:
        td Zavodskoij str. 6, Protvino, Moscow distr., 142281, Russia
    tr
        td Bank:
        td VTB 24 (PJSC), Moscow, Russia
    tr
        td Address of the Bank:
        td Russia, 101000, Moscow, Myasnitskaya str., 35
    tr
        td SWIFT:
        td CBGURUMM XXX
    tr
        td Account:
        td 40703840011000003748
    tr
        td Details of payment:
        td Registration fee WISE for (your mame, paper ID_workshoptype)
    tr
        td Intermediary Bank:
        td Citibank N.A., New York, NY, SWIFT: CITIUS33
    tr
        td Correspondent account in Intermediary Bank:
        td 36086416

br
h3 Реквизиты рублевого счета для российских уастников WISE2017:
table
    tr
        td Регистрационный взнос:
        td $600 в рублях по курсу ЦБ.
    tr
        td Наименование организации:
        td Автономная некоммерческая организация «Институт физико-технической информатики»
    tr
        td ИНН организации /КПП:
        td 5037002412/503701001
    tr
        td Наименование банка получателя:
        td ВТБ 24 (ПАО), г. Москва
    tr
        td БИК:
        td 044525716
    tr
        td Расчетный счет:
        td 40703810711130010478
    tr
        td Корреспондентский счет:
        td 30101810100000000716
    tr
        td Назначение платежа:
        td Целевой регистрационный взнос участника конференции WISE/HIS (ФИО)