h1.title Special sessions on Security and Privacy

b
    i Special track chair - Hua Wang, Victoria University (Australia)


table.table
    tr
        th Id
        th Title
        th Authors
    tr
        td 8
        td Link Flooding Attacks in Software Defined Networks
        td Raihan Ur Rasool, Hua Wang and Wajid Rafiq, Jianming Yong and Jinli Cao
    tr
        td 10
        td A Verifiable Ranked Choice Internet Voting System
        td Xuechao Yang, Xun Yi, Caspar Ryan, Ron Van Schyndel, Fengling Han, Surya Nepal and Andy Song
    tr
        td 11
        td Privacy Preserving Location Recommendations
        td Shahriar Badsha, Xun Yi, Ibrahim Khalil, Dongxi Liu, Surya Nepal and Elisa Bertino
    tr
        td 12
        td Botnet command and control architectures revisited: Tor Hidden services and Fluxing
        td Marios Anagnostopoulos, Georgios Kambourakis, Panagiotis Drakatos, Michail Karavolos, Sarantis Kotsilitis and David K. Y. Yau
    tr
        td 13
        td My Face is Mine: Fighting Unpermitted Tagging on Personal/Group
        td Lihong Tang, Wanlun Ma, Sheng Wen, Marthie Grobler, Yang Xiang and Wanlei Zhou
    tr
        td 15
        td Cryptographic Access Control in Electronic Health Record Systems: A Security Implication
        td Pasupathy Vimalachandran, Hua Wang, Yanchun Zhang, Hongbo Kuang and Guangping Zhuo
    tr
        td 21
        td SDN-based Dynamic Policy Specification and Enforcement for Provisioning Security as a Service in Cloud
        td Udaya Tupakula, Vijay Varadharajan and Kallol Krishna Karmakar
    tr
        td 31
        td Topic Detection with Locally Weighted Semi-supervised Collective Learning
        td Ye Wang, Yong Quan, Bin Zhou,Yanchun Zhang and Ming Peng