h2 Workshops

h3 &laquo;Tsargrad&raquo; Hotel:
p
    b Reception:&nbsp;
    a(href="tel:74955433350") +7-(495)-543-3350
    | &nbsp;(24 hours)
    br
    | Moscow region, Serpukhov area, Spas Teshilovo village, 3-3
h3 How to get to &laquo;Tsargrad&raquo; Hotel:
p
    b By taxi:
    = ' '
    | the most suitable taxi for foreigners is
    = ' '
    a(href="https://www.uber.com/en-RU/", target="_blank") UBER
    |, known throughout the world.
    | Participants of the conference wishing share taxi from/to airport could use
    = ' '
    a(href='/arrival-departure/') forms
    = ' '
    | Arrival and Departure to fill corresponding spreadsheets.
    br
    b By train:&nbsp;
    | from Kursky railway station or Kalanchevskaya, Tsaritsino stations (Moscow) to Serpukhov
    | station (indicating the direction of Serpukhov, Tula), then by bus number 33 to Tsargrad
    | bus stop or by taxi. The trip takes 1,5 hours by train and 30 minutes from Serpukhov to Tsargrad bus stop.
    | Bus route to Tsargrad Hotel
    br
    b By bus: &nbsp;
    | From Yuzhnaya metro station (first car from the center) exit in the direction of Yuzhnaya shopping
    | center to the suburban buses.
    br
    b Bus 359: &nbsp;
    | &laquo;Moscow-Puschino&raquo; goes till the last stop in the town of Puschino – &laquo;Railway station&raquo;,
    | then you can either take a taxi or bus number 33 to Tsargrad. The trip will take you from Moscow to
    | Pushchino about 1,5 hours and from Pushchino to Tsargrad - about 5 minutes.
    br
    b Bus 458: &nbsp;
    | &laquo;Moscow-Serpukhov&raquo; goes till the last stop of the town of Serpukhov - &laquo;Railway Station&raquo;,
    | then you can take a taxi or go by bus 33 to Tsargrad. The trip from Moscow to Serpukhov will take you 1,5 - 2
    | hours and from Serpukhov to Tsargrad - about 30 minutes.
    | Car Route to Tsargrad Hotel
    | 95 km from Moscow sown Simferopolsky highway (M2) - high-speed track.
    | Drive about 80 km to the bridge over Oka Then, drive about 2 km and then turn right at the junction
    | (Pushchino and Tsatgrad Spas Teshilovo) Climbing the junction without turning to the bridge, turn left at the
    | sign Tsargrad Spas Teshilovo, after descending a small hill turn right (pointer to Tsargrad Spas Teshilovo) Then
    | for about 8 km pass Uzhin, Celine, Meshcherinovo villages and turn right to Tsargrad Hotel.
    br
    b GPS-coordinates of the hotel: N 54 50.332 E 03 734.598
iframe(
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120567.47804002791!2d37.63969432458842!3d54.87290373635074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x413511930fca1e65%3A0xca7ea039937f567c!2sHotel+Constantinople!5e0!3m2!1sen!2sau!4v1490679589381"
    width="100%" height="450" frameborder="0" style="border:0" allowfullscreen
)