h2 VISA   INFORMATION
p
    | The Conference is interested in participants. However, we can provide you with visa support
    | (including invitation letter) only in the following cases:
    ul
        li you have an invited/sponsored talk on the conference;
        li or you are the author of an accepted paper;
        li or you are an accompanying person of the paper's author;
        li or you have already paid the registration fee;
        li
            | or you have provided us with proofs of your interest in conference area and references
            | for your publications and occupation.

p
    | All foreign nationals are required to have entry visas to travel to the Russian Federation.
    | The Embassies of Russia and Russian Consulates require that all foreign travellers to Russia have a
    | Russian visa invitation in order to issue the applicant a Russian visa.
    | To receive official invitation letter, please, provide us with the following documents  by e-mail:
    ul
        li
            | Full colour and high-quality scan of the main page of your passport
            | (any graphics format will do - pdf, tiff, jpeg, png, psd. PDF is preferred).
        li
            |Russian Invitation Requestion Form.
            ul
                li
                    | Download form (
                    a(href='/d/Visa-Request-form.pdf', target='_blank') PDF
                    | )
                li
                    | Download form (
                    a(href='/d/Visa-Request-form.docx', target='_blank') DOC
                    | )

P
    | Please contact Rashid Zalyalov
    = ' '
    a(href="mailto:Rashid.Zalyalov@gmail.com?subject=[Your Paper ID_workshopType] Apply visa for WISE2016")
        | Rashid.Zalyalov@gmail.com
    = ' '
    | with e-mail title: [Your Paper ID_workshopType] Apply visa for WISE2016.

h4 Notice:
p
    | Making invitation letters by the Russian Immigration Service will take time up to 30 days.
    | The invitation letter will be sent to Russian Consulates in your country by e-mail and we will notify you.
    | If you have an accompanying person and he/she is your relative (the spouse, children), provide,
    | please the official document confirming your relation, translated into Russian and certified by the Russian
    | consul. It seems, in this case, easier to obtain a touristic visa.
    | Your passport must be valid for at least 6 months after intended departure date from Russia,
    | and at least 2 visa-designated pages must be blank.
    | After you receive the visa notice, you have to make a visa in Russian Embassy or Consulate in your
    | country by yourself (contact your Embassy for additional requirements).