h2 Workshops

p
    | The WISE-2017 workshops are an international forum for researchers, professionals, and industrial practitioners
    | to share their knowledge in topics related to the main theme of the conference, either on specific research
    | themes or in emerging areas of research.

h3 Accepted Workshops

ol
    li
        h4 The 5th International Workshop on Data Quality and Trust in Big Data (QUAT 2017)
        p
            | The problem of data quality in data processing, data management, data analysis, and information systems
            | largely and indistinctly affects every application domain, especially at the era of "Big Data".
            | "Big Data" has the characteristics of huge volume in data and a great variety of structures or no
            | structure. "Big Data" is increased at a great velocity everyday and may be less trustable.
            | The use of big data underpins critical activities in all sectors of our society. Many data processing
            | tasks (such as data collection, data integration, data sharing, information extraction, and knowledge
            | acquisition) require various forms of data preparation and consolidation with complex data
            | processing and analysis techniques. Achieving the full transformative potential of "Big Data"
            | requires both new data analysis algorithms and a new class of systems to handle the dramatic data growth,
            | the demand to integrate structured and unstructured data analytics, and the increasing computing needs of
            | massive scale analytics. The consensus is that the quality of data and the veracity of data
            | have to span over the entire process of data collection, preparation, analysis, modelling, implementation,
            | use, testing, and maintenance, including novel algorithms and usable systems.
            br
            | The workshop website is at:&nbsp;
            a(href='http://computing.du.se/quat/quat2017/', target='_blank') http://computing.du.se/quat/quat2017/
            | .
    li
        h4 The 1st International Workshop on Knowledge Acquisition, Representation and Management (KARM 2017)
        p
            | As the development of World Wide Web, social networking sites, wikis and folksonomies are becoming more
            | and more popular, where the Knowledge Acquisition, Representation and Management (KARM) are the crucial
            | aspects of successful intelligent systems. Knowledge Acquisition is central to the design of cognitive
            | systems. Knowledge should be in a form that allows systems to explain their inferences and accept user
            | feedback. At the same time, knowledge acquisition should exhibit characteristics akin to those of human
            | learning, so that humans can relate to it and be able to interact with it as if it were a knowledgeable
            | colleague. Moreover, the new challenges, problems, and issues have emerged in the context of knowledge
            | representation in Artificial Intelligence (AI), involving the logical manipulation of increasingly large
            | information sets. Furthermore, Knowledge Management stresses the importance of using KM to enhance
            | knowledge production in organizations, not just knowledge sharing or integration. The goal of this
            | workshop is to bring together the researchers involved in the development and application of Knowledge
            | Acquisition, Representation and Management techniques.
            br
            | The workshop website is at:&nbsp;
            a(href='http://ada.suda.edu.cn/karm2017/', target='_blank') http://ada.suda.edu.cn/karm2017/